torch
torchvision
timm
monai
albumentations
opencv-python-headless
pandas
Pillow
numpy
transformers==4.48.3
huggingface-hub==0.28.1
tokenizers==0.21.0
safetensors
scipy
scikit-learn
scikit-image
matplotlib
seaborn
